In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [197]:
wind_turbines = pd.read_csv('../original_datasets/wind_turbine.csv', engine='python',encoding='latin1')

In [88]:
wind_turbines.isnull().sum()

case_id              0
faa_ors           5792
faa_asn           5122
usgs_pr_id       32545
eia_id            5793
t_state              0
t_county             0
t_fips               0
p_name               0
p_year             613
p_tnum               0
p_cap             4482
t_manu            5640
t_model           5777
t_cap             5480
t_hh              6180
t_rd              5934
t_rsa             5934
t_ttlh            6180
retrofit             0
retrofit_year    64822
t_conf_atr           0
t_conf_loc           0
t_img_date        8316
t_img_srce           0
xlong                0
ylat                 0
dtype: int64

In [63]:
df_list = []
table_list = []
for i in range(10):
    var_name = f'schedule_{i}'
    globals()[var_name] = pd.read_excel('../original_datasets/EIA923_Schedules_2_3_4_5_M_12_2020_Final_Revision.xlsx', i)
    table_list.append(var_name)
    df_list.append(globals()[var_name])
table_list

['schedule_0',
 'schedule_1',
 'schedule_2',
 'schedule_3',
 'schedule_4',
 'schedule_5']

In [20]:
def count_nulls():
    return [f'{f"schedule_{i}"} has a total of {sum(globals()[f"schedule_{i}"].isnull().sum())} nulls' for i in range(7)]

In [21]:
count_nulls()

['schedule_0 has a total of 23496 nulls',
 'schedule_1 has a total of 750 nulls',
 'schedule_2 has a total of 813 nulls',
 'schedule_3 has a total of 143 nulls',
 'schedule_4 has a total of 573 nulls',
 'schedule_5 has a total of 342 nulls',
 'schedule_6 has a total of 130 nulls']

In [27]:
def table_cleaning():
    for i in range(10):
        var_name = f"schedule_{i}"
        globals()[var_name] = globals()[var_name].tail(-3)

,"U.S. Department of Energy, The Energy Information Administration (EIA)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,EIA-923 Monthly Ending Coal Fuel Stocks Time S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sources: EIA-923 and EIA-860 Reports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Plant Id,Combined Heat And\nPower Plant,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,NAICS Code,EIA Sector Number,...,Quantity\nMay,Quantity\nJune,Quantity\nJuly,Quantity\nAugust,Quantity\nSeptember,Quantity\nOctober,Quantity\nNovember,Quantity\nDecember,Balancing\nAuthority Code,YEAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,999999,Y,State-Fuel Level Increment,State-Fuel Level Increment,999999,IA,WNC,NaN,999999,7,...,24606,23366,18843,16036,15738,16907,19052,18981,MISO,2020
649,999999,Y,State-Fuel Level Increment,State-Fuel Level Increment,999999,MN,WNC,NaN,999999,7,...,87312,84168,76945,73470,75153,75659,75880,74754,MISO,2020
650,999999,Y,State-Fuel Level Increment,State-Fuel Level Increment,999999,NE,WNC,NaN,999999,7,...,19326,18617,17229,18278,20681,21025,22167,22531,SWPP,2020
651,999999,Y,State-Fuel Level Increment,State-Fuel Level Increment,999999,LA,WSC,NaN,999999,7,...,0,0,0,0,0,0,0,0,MISO,2020
652,999999,Y,State-Fuel Level Increment,State-Fuel Level Increment,999999,LA,WSC,NaN,999999,7,...,3399,3283,3126,2976,2848,2703,2633,2523,MISO,2020

In [64]:
schedule_1 = schedule_1.tail(int(str(schedule_1[schedule_1['U.S. Department of Energy, The Energy Information Administration (EIA)'] == 'Plant Id'].index).split(']')[0].split('[')[-1])*-1)
schedule_1.columns = schedule_1.iloc[0]
schedule_1 = schedule_1[1:].reset_index(drop=True)
schedule_1.columns = schedule_1.columns.str.replace('\n', ' ').str.lower().str.replace(' ', '_')

5,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,61014,N,.,Pattern Santa Isabel LLC,Pattern Operators LP,56545,PR,NaN,NaN,NaN,...,7326,9328,7753,6887,0,0,1247819,1247819,142234,2020
1,61034,Y,.,EcoElectrica,EcoElectrica LP,60671,PR,NaN,NaN,NaN,...,100764,99526,95877,95701,30714,30714,31812,31812,1025053,2020
2,61034,Y,.,EcoElectrica,EcoElectrica LP,60671,PR,NaN,NaN,NaN,...,215122,209843,204108,201956,26178927,26178927,27078959,27078959,2361193,2020
3,61036,N,.,AES ILUMINA,"AES ILUMINA, LLC",60673,PR,NaN,NaN,NaN,...,3159,2913,2505,2889,0,0,332717,332717,37925,2020
4,61062,N,.,Coto Laurel Solar Farm,"PV Properties, Inc.",60689,PR,NaN,NaN,NaN,...,1345.456,1291.17,1113.486,1259.266,0,0,131701,131701,15012,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,62850,N,.,HIMA San Pablo Fajardo,HIMA San Pablo Fajardo,62728,PR,NaN,NaN,NaN,...,3.972,3.78,3.571,3.32,96,96,562,562,61,2020
59,62851,N,.,HIMA San Pablo Cupey,HIMA San Pablo Cupey,62730,PR,NaN,NaN,NaN,...,2.8,2.665,2.517,2.341,60,60,349,349,43,2020
60,62852,N,.,HIMA San Pablo Humacao,HIMA San Pablo Humacao,62729,PR,NaN,NaN,NaN,...,0.846,0.806,0.761,0.708,21,21,126,126,13,2020
61,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,PR,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2020
62,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,PR,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2020

In [81]:
schedule_1.columns = schedule_1.columns.str.replace('\n', ' ').str.lower().str.replace(' ', '_')
schedule_1.isnull().sum()

5
plant_id                              0
combined_heat_and_power_plant         0
nuclear_unit_id                       0
plant_name                            0
operator_name                         0
                                     ..
electric_fuel_consumption_quantity    0
total_fuel_consumption_mmbtu          0
elec_fuel_consumption_mmbtu           0
net_generation_(megawatthours)        0
year                                  0
Length: 97, dtype: int64

In [82]:
schedule_1.columns

Index(['plant_id', 'combined_heat_and_power_plant', 'nuclear_unit_id',
       'plant_name', 'operator_name', 'operator_id', 'plant_state',
       'census_region', 'nerc_region', 'reserved', 'naics_code',
       'eia_sector_number', 'sector_name', 'reported_prime_mover',
       'reported_fuel_type_code', 'aer_fuel_type_code', 'reserved',
       'respondent_frequency', 'physical_unit_label', 'quantity_january',
       'quantity_february', 'quantity_march', 'quantity_april', 'quantity_may',
       'quantity_june', 'quantity_july', 'quantity_august',
       'quantity_september', 'quantity_october', 'quantity_november',
       'quantity_december', 'elec_quantity_january', 'elec_quantity_february',
       'elec_quantity_march', 'elec_quantity_april', 'elec_quantity_may',
       'elec_quantity_june', 'elec_quantity_july', 'elec_quantity_august',
       'elec_quantity_september', 'elec_quantity_october',
       'elec_quantity_november', 'elec_quantity_december',
       'mmbtuper_unit_january', 'mmbtuper_unit_february',
       'mmbtuper_unit_march', 'mmbtuper_unit_april', 'mmbtuper_unit_may',
       'mmbtuper_unit_june', 'mmbtuper_unit_july', 'mmbtuper_unit_august',
       'mmbtuper_unit_september', 'mmbtuper_unit_october',
       'mmbtuper_unit_november', 'mmbtuper_unit_december', 'tot_mmbtu_january',
       'tot_mmbtu_february', 'tot_mmbtu_march', 'tot_mmbtu_april',
       'tot_mmbtu_may', 'tot_mmbtu_june', 'tot_mmbtu_july', 'tot_mmbtu_august',
       'tot_mmbtu_september', 'tot_mmbtu_october', 'tot_mmbtu_november',
       'tot_mmbtu_december', 'elec_mmbtu_january', 'elec_mmbtu_february',
       'elec_mmbtu_march', 'elec_mmbtu_april', 'elec_mmbtu_may',
       'elec_mmbtu_june', 'elec_mmbtu_july', 'elec_mmbtu_august',
       'elec_mmbtu_september', 'elec_mmbtu_october', 'elec_mmbtu_november',
       'elec_mmbtu_december', 'netgen_january', 'netgen_february',
       'netgen_march', 'netgen_april', 'netgen_may', 'netgen_june',
       'netgen_july', 'netgen_august', 'netgen_september', 'netgen_october',
       'netgen_november', 'netgen_december', 'total_fuel_consumption_quantity',
       'electric_fuel_consumption_quantity', 'total_fuel_consumption_mmbtu',
       'elec_fuel_consumption_mmbtu', 'net_generation_(megawatthours)',
       'year'],
      dtype='object', name=5)

In [ ]:
quantity, elec_quantity, mmbtuper, tot_mmbtu, elec_mmbtu, net_gen, total_fuel,

In [205]:
generator_data = pd.read_excel('../original_datasets/EIA923_Schedules_2_3_4_5_M_12_2020_Final_Revision.xlsx', 0)

generator_data = generator_data.tail(int(str(generator_data[generator_data['U.S. Department of Energy, The Energy Information Administration (EIA)'] == 'Plant Id'].index).split(']')[0].split('[')[-1])*-1)
generator_data.columns = generator_data.iloc[0]
generator_data = generator_data[1:].reset_index(drop=True)
generator_data.columns = generator_data.columns.str.replace('\n', ' ').str.lower().str.replace(' ', '_')

generator_data = generator_data[['plant_id', 'plant_name', 'operator_name', 'operator_id', 'plant_state', 'census_region', 'reported_prime_mover', 'reported_fuel_type_code', 'quantity_january',
       'quantity_february', 'quantity_march', 'quantity_april', 'quantity_may', 'quantity_june', 'quantity_july', 'quantity_august', 'quantity_september', 'quantity_october', 
                                 'quantity_november', 'quantity_december', 'netgen_january', 'netgen_february', 'netgen_march', 'netgen_april', 'netgen_may', 'netgen_june', 'netgen_july', 'netgen_august', 
                'netgen_september', 'netgen_october', 'netgen_november', 'netgen_december', 'net_generation_(megawatthours)', 'year']]

generator_data.rename(columns={'operator_name':'op', 'operator_id':'op_id', 'plant_name':'plant', 'census_region':'region', 'reported_prime_mover':'rpm', 
                               'reported_fuel_type_code':'fuel_type', 'net_generation_(megawatthours)':'net_gen'}, inplace=True)

generator_data = generator_data[generator_data['fuel_type'] == 'WND']
generator_data.drop(columns=('fuel_type'), inplace=True)

quan = generator_data.iloc[:, [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]]
for col in quan:
    quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
quan

net_gen = generator_data.iloc[:, [19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]]
for col in net_gen:
    net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
net_gen

generator_data = pd.merge(left = generator_data.iloc[:, :7], right = generator_data.loc[:, ['plant_id', 'net_gen', 'year']], how='left', on='plant_id')
monthly_totals = quan.join(net_gen)
generator_data = generator_data.join(monthly_totals)

generator_data['net_gen'] = pd.to_numeric(generator_data['net_gen'])
for col in generator_data.iloc[:, 7:]:
    generator_data[col] = pd.to_numeric(generator_data[col])
    generator_data[col] = generator_data[col].fillna(0)
    
generator_data.to_csv('../cleaned_datasets/generator_data.csv')

C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1078327284.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)

In [182]:
generator_data = pd.read_excel('../original_datasets/EIA923_Schedules_2_3_4_5_M_12_2020_Final_Revision.xlsx', 0)

In [183]:
generator_data = generator_data.tail(int(str(generator_data[generator_data['U.S. Department of Energy, The Energy Information Administration (EIA)'] == 'Plant Id'].index).split(']')[0].split('[')[-1])*-1)
generator_data.columns = generator_data.iloc[0]
generator_data = generator_data[1:].reset_index(drop=True)
generator_data.columns = generator_data.columns.str.replace('\n', ' ').str.lower().str.replace(' ', '_')

In [184]:
generator_data = generator_data[['plant_id', 'plant_name', 'operator_name', 'operator_id', 'plant_state', 'census_region', 'reported_prime_mover', 'reported_fuel_type_code', 'quantity_january',
       'quantity_february', 'quantity_march', 'quantity_april', 'quantity_may', 'quantity_june', 'quantity_july', 'quantity_august', 'quantity_september', 'quantity_october', 
                                 'quantity_november', 'quantity_december', 'netgen_january', 'netgen_february', 'netgen_march', 'netgen_april', 'netgen_may', 'netgen_june', 'netgen_july', 'netgen_august', 
                'netgen_september', 'netgen_october', 'netgen_november', 'netgen_december', 'net_generation_(megawatthours)', 'year']]
generator_data.rename(columns={'operator_name':'op', 'operator_id':'op_id', 'plant_name':'plant', 'census_region':'region', 'reported_prime_mover':'rpm', 
                               'reported_fuel_type_code':'fuel_type', 'net_generation_(megawatthours)':'net_gen'}, inplace=True)

In [185]:
generator_data = generator_data[generator_data['fuel_type'] == 'WND']
generator_data.drop(columns=('fuel_type'), inplace=True)
generator_data

4,plant_id,plant,op,op_id,plant_state,region,rpm,quantity_january,quantity_february,quantity_march,...,netgen_may,netgen_june,netgen_july,netgen_august,netgen_september,netgen_october,netgen_november,netgen_december,net_gen,year
0,1,Sand Point,"TDX Sand Point Generating, LLC",63560,AK,PACN,WT,0,0,0,...,29.431,31.203,23.001,23.325,23.559,28.982,33.296,30.694,347,2020
81,90,Snake River,Nome Joint Utility Systems,13642,AK,PACN,WT,0,0,0,...,202.118,214.283,157.956,160.182,161.789,199.034,228.657,210.791,2383,2020
462,508,Lamar Plant,City of Lamar - (CO),10633,CO,MTN,WT,0,0,0,...,1368.073,1011.494,1097.18,1042.126,901.626,952.676,1092.82,1338.32,13232,2020
704,692,Medicine Bow,SRIV Partnership LLC,62042,WY,MTN,WT,0,0,0,...,1026.192,1071.784,942.308,786.864,765.206,1313.838,1936.102,2063.125,16121,2020
865,944,Geneseo,City of Geneseo - (IL),7095,IL,ENC,WT,0,0,0,...,468,306,216,190,420,540,855,548,5855,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15110,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,NV,MTN,WT,.,.,.,...,31811.979,.,.,.,.,.,.,.,31811.979,2020
15111,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,MD,SAT,WT,0,.,.,...,.,.,.,.,.,.,.,.,8674.526,2020
15112,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,NH,NEW,WT,.,.,.,...,.,9605.242,.,.,.,.,.,.,9605.242,2020
15113,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,MA,NEW,WT,.,.,.,...,.,.,.,.,.,.,.,.,794.787,2020
15114,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,WT,0,.,.,...,.,.,.,.,.,.,.,.,4472.169,2020

In [186]:
quan = generator_data.iloc[:, [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]]
for col in quan:
    quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
quan

C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1473348352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1473348352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1473348352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1473348352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1473348352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1473348352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1473348352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1473348352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1473348352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1473348352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1473348352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1473348352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quan.rename(columns={col:f'quan_{str(quan.columns.get_loc(col) + 1)}'}, inplace=True)

4,quan_1,quan_2,quan_3,quan_4,quan_5,quan_6,quan_7,quan_8,quan_9,quan_10,quan_11,quan_12
0,0,0,0,0,0,0,0,0,0,0,0,0
81,0,0,0,0,0,0,0,0,0,0,0,0
462,0,0,0,0,0,0,0,0,0,0,0,0
704,0,0,0,0,0,0,0,0,0,0,0,0
865,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
15110,.,.,.,.,0,.,.,.,.,.,.,.
15111,0,.,.,.,.,.,.,.,.,.,.,.
15112,.,.,.,.,.,0,.,.,.,.,.,.
15113,.,.,.,0,.,.,.,.,.,.,.,.
15114,0,.,.,.,.,.,.,.,.,.,.,.

In [187]:
net_gen = generator_data.iloc[:, [19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]]
for col in net_gen:
    net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
net_gen

C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1989974052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1989974052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1989974052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1989974052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1989974052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1989974052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1989974052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1989974052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1989974052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1989974052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1989974052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)
C:\Users\evana\AppData\Local\Temp\ipykernel_29112\1989974052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_gen.rename(columns={col:f'netgen_{str(net_gen.columns.get_loc(col) + 1)}'}, inplace=True)

4,netgen_1,netgen_2,netgen_3,netgen_4,netgen_5,netgen_6,netgen_7,netgen_8,netgen_9,netgen_10,netgen_11,netgen_12
0,30.317,31.076,31.133,30.983,29.431,31.203,23.001,23.325,23.559,28.982,33.296,30.694
81,208.197,213.415,213.804,212.774,202.118,214.283,157.956,160.182,161.789,199.034,228.657,210.791
462,1367.376,1098.836,991.476,969.997,1368.073,1011.494,1097.18,1042.126,901.626,952.676,1092.82,1338.32
704,2015.116,1747.224,1325.983,1127.258,1026.192,1071.784,942.308,786.864,765.206,1313.838,1936.102,2063.125
865,490,433,698,691,468,306,216,190,420,540,855,548
...,...,...,...,...,...,...,...,...,...,...,...,...
15110,.,.,.,.,31811.979,.,.,.,.,.,.,.
15111,8674.526,.,.,.,.,.,.,.,.,.,.,.
15112,.,.,.,.,.,9605.242,.,.,.,.,.,.
15113,.,.,.,794.787,.,.,.,.,.,.,.,.
15114,4472.169,.,.,.,.,.,.,.,.,.,.,.

In [188]:
generator_data = pd.merge(left = generator_data.iloc[:, :7], right = generator_data.loc[:, ['plant_id', 'net_gen', 'year']], how='left', on='plant_id')
monthly_totals = quan.join(net_gen)
generator_data = generator_data.join(monthly_totals)
generator_data.columns

Index(['plant_id', 'plant', 'op', 'op_id', 'plant_state', 'region', 'rpm',
       'net_gen', 'year', 'quan_1', 'quan_2', 'quan_3', 'quan_4', 'quan_5',
       'quan_6', 'quan_7', 'quan_8', 'quan_9', 'quan_10', 'quan_11', 'quan_12',
       'netgen_1', 'netgen_2', 'netgen_3', 'netgen_4', 'netgen_5', 'netgen_6',
       'netgen_7', 'netgen_8', 'netgen_9', 'netgen_10', 'netgen_11',
       'netgen_12'],
      dtype='object', name=4)

In [189]:
generator_data

4,plant_id,plant,op,op_id,plant_state,region,rpm,net_gen,year,quan_1,...,netgen_3,netgen_4,netgen_5,netgen_6,netgen_7,netgen_8,netgen_9,netgen_10,netgen_11,netgen_12
0,1,Sand Point,"TDX Sand Point Generating, LLC",63560,AK,PACN,WT,347,2020,0,...,31.133,30.983,29.431,31.203,23.001,23.325,23.559,28.982,33.296,30.694
1,90,Snake River,Nome Joint Utility Systems,13642,AK,PACN,WT,2383,2020,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,508,Lamar Plant,City of Lamar - (CO),10633,CO,MTN,WT,13232,2020,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,692,Medicine Bow,SRIV Partnership LLC,62042,WY,MTN,WT,16121,2020,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,944,Geneseo,City of Geneseo - (IL),7095,IL,ENC,WT,5855,2020,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,WT,31811.979,2020,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1297,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,WT,8674.526,2020,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1298,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,WT,9605.242,2020,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1299,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,WT,794.787,2020,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1300,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,WT,4472.169,2020,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
generator_data['net_gen'] = pd.to_numeric(generator_data['net_gen'])
for col in generator_data.iloc[:, 7:]:
    generator_data[col] = pd.to_numeric(generator_data[col])
    generator_data[col] = generator_data[col].fillna(0)
generator_data

4,plant_id,plant,op,op_id,plant_state,region,rpm,net_gen,year,quan_1,...,netgen_3,netgen_4,netgen_5,netgen_6,netgen_7,netgen_8,netgen_9,netgen_10,netgen_11,netgen_12
0,1,Sand Point,"TDX Sand Point Generating, LLC",63560,AK,PACN,WT,347.000,2020,0.0,...,31.133,30.983,29.431,31.203,23.001,23.325,23.559,28.982,33.296,30.694
1,90,Snake River,Nome Joint Utility Systems,13642,AK,PACN,WT,2383.000,2020,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,508,Lamar Plant,City of Lamar - (CO),10633,CO,MTN,WT,13232.000,2020,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,692,Medicine Bow,SRIV Partnership LLC,62042,WY,MTN,WT,16121.000,2020,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,944,Geneseo,City of Geneseo - (IL),7095,IL,ENC,WT,5855.000,2020,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,WT,31811.979,2020,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1297,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,WT,8674.526,2020,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1298,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,WT,9605.242,2020,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1299,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,WT,794.787,2020,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1300,99999,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,WT,4472.169,2020,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [200]:
wind_turbines = wind_turbines.drop(['faa_ors','faa_asn','usgs_pr_id','eia_id','t_fips','t_conf_loc','t_img_date','t_img_srce','retrofit_year',
                                   't_manu','t_model','t_cap','t_hh','t_rd','t_rsa','t_ttlh','t_conf_atr'], axis = 1)

In [198]:
manu_data = wind_turbines[['t_manu','t_model','t_cap','t_hh','t_rd','t_rsa','t_ttlh','t_conf_atr']]

In [199]:
manu_data.dropna(inplace=True)

C:\Users\evana\AppData\Local\Temp\ipykernel_29112\2803359016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manu_data.dropna(inplace=True)

In [204]:
wind_turbines
wind_turbines.to_csv('../cleaned_datasets/wind_turbines.csv')

In [206]:
manu_data.reset_index(drop=True)
manu_data.to_csv('../cleaned_datasets/manu_data.csv')