In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
generator_data = pd.read_csv('../cleaned_datasets/total_energy.csv', engine='python',encoding='latin1')

In [14]:
generator_data = generator_data[generator_data.columns[1:]]
generator_data.head()

,plant_id,plant,op,op_id,plant_state,region,rpm,fuel_type,fuel_usage,net_gen
0,1,Sand Point,"TDX Sand Point Generating, LLC",63560,AK,PACN,WT,WND,8.924010e+02,347.0
1,2,Bankhead Dam,Alabama Power Co,195,AL,ESC,HY,WAT,3.578219e+05,139170.0
2,3,Barry,Alabama Power Co,195,AL,ESC,CA,NG,3.645376e+05,2633517.0
3,3,Barry,Alabama Power Co,195,AL,ESC,CT,NG,1.553475e+07,5084350.0
4,3,Barry,Alabama Power Co,195,AL,ESC,ST,BIT,7.675155e+06,2625834.5

In [40]:
test = generator_data.groupby(['op', 'fuel_type'])['fuel_type'].unique()
#test = pd.concat([test.index, test.values])
test.unstack(level=1)

fuel_type,AB,BFG,BIT,BLQ,DFO,GEO,JF,KER,LFG,LIG,...,SUB,SUN,TDF,WAT,WC,WDL,WDS,WH,WND,WO
op,,,,,,,,,,,,,,,,,,,,,
126 Grove Solar LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,[SUN],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"13 Mile Solar, LLC",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,[SUN],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158th Fighter Wing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,[SUN],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"180 Raritan Energy Solutions, LLC",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,[SUN],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"2016 ESA Project Company, LLC",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zion Energy LLC,NaN,NaN,NaN,NaN,[DFO],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zotos International,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[WND],NaN
Zumbro Garden LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,[SUN],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zumbro Solar LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,[SUN],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
esVolta LP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN